#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
# DH_VERBOSE = 1
# export DH_OPTIONS=-v

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with javahelper --with bash-completion

override_dh_auto_build:
	scons  mysql=yes new_xmlrpc=yes #parsers=yes
	(cd src/oca/java/; \
	./build.sh -d)

override_dh_auto_install:
	DESTDIR=debian/tmp ./install.sh
	dh_auto_install

	# Install sudoers
	mkdir -p debian/tmp/etc/sudoers.d
	cp share/pkgs/Debian/opennebula.sudoers debian/tmp/etc/sudoers.d/opennebula
	chmod 0440 debian/tmp/etc/sudoers.d/opennebula

override_dh_auto_clean:
	dh_auto_clean
	scons --clean .
	(cd src/oca/java/; \
	rm -rf jar/; rm -rf share/doc/; \
	./build.sh -c)
	-rm -Rf .scons_temp
	-rm -Rf share/scons/lex_bison.pyc \
		src/nebula/.xmlrpc_test/xmlrpc_test.* \
		src/scheduler/.xmlrpc_test/xmlrpc_test.* \
		src/scheduler/src/sched/.xmlrpc_test \
		.xmlrpc_test

override_dh_install:
	dh_install

override_dh_installinit:
	dh_installinit -popennebula-sunstone --name opennebula-econe
	dh_installinit -popennebula-sunstone --name opennebula-novnc
	dh_installinit

override_dh_strip:
	dh_strip --dbg-package=opennebula-dbg

override_dh_fixperms:
	dh_fixperms --exclude /etc/sudoers/opennebula

get-orig-source:
	uscan --force-download --no-symlink
